<h1>Manager</h1>
<h2 style="text-align: -webkit-center;">Select an Action</h2>
<div class="container-fluid">
    <div class="col-sm-12 text-center" style="text-align: -webkit-center;">
        <button class="btn btn-danger btn-block" (click)="onShowManagerDetailsClick(template)">
            Details
        </button>
        <button class="btn btn-danger btn-block" [routerLink]="['/empDetails']">
            Employee List
        </button>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Manager Details</h4>
        <button type="button" style="cursor: pointer;" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td>Name</td>
                <td>BK Singh</td>
            </tr>
            <tr>
                <td>Details</td>
                <td>xyz zyz abc</td>
            </tr>
            <tr>
                <td>Other Details</td>
                <td>mnc bbcs</td>
            </tr>
        </table>
    </div>
</ng-template>