<h1>Employee</h1>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" class="search">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="employer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employer </th>
        <td mat-cell *matCellDef="let element"> {{element.employer}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <ng-container matColumnDef="managerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td style="cursor: pointer;color: blue;" mat-cell *matCellDef="let element" (click)="onShowManagerDetailsClick(element,template)">
            <i class="material-icons">
                edit
            </i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Employee Details Edit</h4>
        <button type="button" style="cursor: pointer;" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="fname">Name</label>
        <input class="text_box" type="text" id="fname" name="name" [(ngModel)]="copySelectedManagerObject.name" placeholder="Name">
        <br>
        <label for="lname">Subject</label>
        <input class="text_box" type="text" id="lname" name="designation" [(ngModel)]="copySelectedManagerObject.designation" placeholder="designation">
        <br>
        <label for="fname">Name</label>
        <input class="text_box" type="text" id="fname" name="mobile" [(ngModel)]="copySelectedManagerObject.mobile" placeholder="mobile">
        <br>
        <label for="lname">Subject</label>
        <input class="text_box" type="text" id="lname" name="email" [(ngModel)]="copySelectedManagerObject.email" placeholder="email">
    </div>
    <div class="modal-footer">
        <button type="button" style="cursor: pointer;" class="close pull-right" aria-label="Close" (click)="modalRef.hide();onUpdateClick()">
            UPDATE
        </button>
    </div>
</ng-template>